// Colors
$black: rgba(0, 0, 0, 1);
$white: rgba(255,255,255,1);
$body-dark-gray: rgba(56, 56, 56, 1);

//Hoeffler Fonts
@mixin verlag-bold {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  line-height: normal;
}
@mixin verlag-book {
  font-family: "Verlag A", "Verlag B";
  font-weight: 400;
  line-height: normal;
}

@mixin tungsten-narrow-bold {
  font-family: "Tungsten Narrow A", "Tungsten Narrow B";
  font-weight: 700;
  line-height: 50px;
}

@mixin tungsten-narrow-extralight {
  font-family: "Tungsten Narrow A", "Tungsten Narrow B";
  font-weight: 200;
  line-height: 50px;
}
